"*":
  "atom-beautify":
    general:
      _analyticsUserId: "795eef1c-c9a2-45a0-8c4a-e32d8da410cf"
    go:
      beautify_on_save: true
      disabled: true
    html:
      end_with_newline: true
      wrap_line_length: 70
    js:
      brace_style: "collapse-preserve-inline"
      end_with_newline: true
      object_curly_spacing: true
    json:
      default_beautifier: "Pretty Diff"
      end_with_newline: true
    jsx:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      e4x: false
      end_with_newline: true
      object_curly_spacing: true
      space_before_conditional: false
    python:
      max_line_length: 120
      multi_line_output: "Hanging Indent"
    scss:
      preserve_newlines: true
    typescript:
      break_chained_methods: true
      end_with_newline: true
      indent_size: 2
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    hyperclick:
      darwinTriggerKeys: "altKey"
    use:
      "atom-ide-debugger": "never"
  "atom-jest-snippets": {}
  "atom-package-deps":
    ignored: []
  "atom-shell-commands":
    commands: [
      {
        command: "echo moooooo"
        name: "SmartBuild"
        options:
          cwd: "{FileDir}"
          keymap: "cmd-shift-b"
      }
    ]
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    minimumWordLength: 1
    useCoreMovementCommands: false
  "autocomplete-snippets": {}
  autosave:
    enabled: true
  "configurable-autocomplete-snippets":
    suggestionPriority: 4
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "markdown-preview-plus"
      "linter-xo"
      "emmet"
      "language-typescript"
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "README.md"
      "package-lock.json"
      "font-awesome.css"
      "google-fonts.css"
      "typeahead.css"
      "*.eot"
      "*.svg"
      "*.ttf"
      "*.woff"
      "*.woff2"
      "__snapshots__"
      "yarn.lock"
      "package.lock"
      "src/assets/charting_library/*"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
      "multi-cursor"
      "goto-definition"
      "grammar-selector"
      "atom-sync"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    warnOnLargeFileLimit: 1
  "coverage-gutter":
    basePath: "/Users/elliotplant"
    pathToLCOV: "../../Users/elliotplant/Documents/dark-pool-web-client/dpwui/assets/coverage/lcov.info"
  "cursor-history": {}
  "disable-keybindings":
    prefixKeys: [
      "cmd-k"
    ]
  editor:
    fontSize: 13
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "c8be361d-65b0-e083-6643-808e2d26edb2"
  "file-types":
    $debug: true
    Dockerfile: {}
    "Dockerfile.*": "source.dockerfile"
  fonts: {}
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-blame":
    columnWidth: 231
    dateFormatString: "MMM-DD"
    showHash: false
    showOnlyLastNames: true
  "git-plus":
    experimental:
      diffBranches: true
      useSplitDiff: false
    general:
      _analyticsUserId: "d8d69ea3-1eab-40f7-a718-ef4a9c1c9c98"
  "go-plus":
    autocomplete:
      suppressBuiltinAutocompleteProvider: false
    config: {}
    lint:
      tool: "golangci-lint"
    navigator:
      mode: "guru"
    panel:
      displayMode: "closed"
      focusOnFailure: false
    test:
      runTestsOnSave: false
  "goto-definition":
    performanceMode: true
  "highlight-line": {}
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
  "jest-test-toggler":
    projectRootPath: "/Users/elliotplant/Documents/lit-pool-web-client"
    specDefaultPath: "src"
    specSearchPaths: [
      "src"
    ]
  jshint:
    supportLintingJsx: true
  linter: {}
  "linter-eslint":
    autofix:
      fixOnSave: true
    disabling:
      disableWhenNoEslintConfig: false
    global:
      eslintrcPath: "/Users/elliotplant/.eslintrc.js"
      globalNodePath: "/usr/local"
  "linter-flake8":
    maxLineLength: 120
  "linter-tslint": {}
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  minimap: {}
  "spell-check":
    addKnownWords: true
    knownWords: [
      "Binance"
      "collateralization"
      "Coinbase"
      "Bitstamp"
    ]
  "split-diff":
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "sync-settings":
    _analyticsUserId: "ce5df772-4da0-4bb9-8f26-614728dc39fe"
  "tree-view":
    alwaysOpenExisting: true
  "vim-mode-plus":
    highlightSearch: false
    keymapPToPutWithAutoIndent: true
    keymapYToYankToLastCharacterOfLine: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    softWrap: false
".java.source":
  editor:
    preferredLineLength: 100
".plain.text":
  whitespace:
    removeTrailingWhitespace: false
".source.ts":
  editor:
    scrollPastEnd: false
    showIndentGuide: false
