packages: [
  "angular-2-typeScript-snippets"
  "angular2-snippets-atom"
  "atom-beautify"
  "atom-shell-commands"
  "atom-ternjs"
  "atom-typescript"
  "autoclose-html"
  "block-travel"
  "busy-signal"
  "cursor-history"
  "emmet"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "highlight-line"
  "intentions"
  "js-refactor"
  "jshint"
  "last-cursor-position"
  "linter"
  "linter-tslint"
  "linter-ui-default"
  "linter-xo"
  "markdown-preview-plus"
  "no-dock-arrows"
  "open-similar"
  "package-sync"
  "pigments"
  "refactor"
]
