packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-macros"
  "atom-ternjs"
  "autoclose-html"
  "block-travel"
  "busy-signal"
  "city-lights-syntax"
  "city-lights-ui"
  "configurable-autocomplete-snippets"
  "coverage-markers"
  "cursor-history"
  "emmet"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "goto-definition"
  "highlight-line"
  "hyperclick"
  "intentions"
  "js-refactor"
  "language-ini"
  "language-javascript-jsx"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-stylelint"
  "linter-ui-default"
  "linter-xo"
  "markdown-preview-plus"
  "multi-cursor"
  "no-dock-arrows"
  "package-sync"
  "pigments"
  "refactor"
  "regex-tester"
  "sort-lines"
  "split-diff"
  "styri-syntax"
  "swap-selection"
  "trailing-semicolon"
  "vim-mode-plus"
]
